<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjcSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ObjcSumDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F5B65D41CACAF65003CFD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8B89EF1BE2058600D81096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8B8A081BE2058700D81096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8B8A131BE2058700D81096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
